@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@300;400;600;700&display=swap');

$tablet: 800px;
$mobile: 460px;
@mixin tablet{
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile{
    @media (max-width: #{$mobile}) {
        @content;
    }
}

body{
    padding: 0 !important;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}


header{
    background-color: #fff;

    .slogan{
        font-size: 13px;
        padding-top: 3px;
        font-weight: 600;

        @include mobile{
            display: none;
        }

    }

    .topbg{
        background-color: #F7F7F7;
        padding: 3px 5px;
    }

    .findstore{
        color: #6C6C6C;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
    }

    nav{
        .logo{
            height: 76px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #myNavbar{
            ul{
                li{
                    a{
                        font-family: 'Bebas Neue', sans-serif;
                        font-size: 24px;
                        color: #000;
                    }
                }
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #FF6502 !important;
}

.carousel-item, .carousel-item > img{
    height: 633px !important;
    background-color: #FF6502;

    @include tablet(){
        height: 340px !important;
    }

    @include mobile{
        height: 170px !important;
    }
}

.carousel{
    @include mobile{
        margin-bottom: 2rem;
    }
}

h2{
    font-size: 32px;
    color: #FF6502;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 25px;
}

#about{
    padding-top: 30px;
}

.aboutus{
    font-size: 18px;
    font-weight: 300;
    color: #6C6C6C;
    line-height: 26px;
    margin-bottom: 70px;
    letter-spacing: 0.6px;

     @include mobile{
        margin-bottom: 50px;
    }

    p{
        padding-right: 25px;
        text-align: justify;

        @include mobile{
            padding-right: 0;
            text-align: left;
        }
    }

    img{
        width: 100%;
    }
}

#brands{
    padding-top: 30px;
}

.brands{
    img{
        background-color: #FF6502;
        border: 1px solid #fff;

        &:hover{
            opacity: 0.85;
            border: 1px solid #dadada;
        }

        @include mobile{
            max-width: 108px;
        }
    }
}

footer{
    border-top: 5px solid #FF6502;
    background-color: #10191A;
    padding: 50px;
    color: #fff;
    margin-top: 50px;

    p{
        color: #F44B00;
        font-weight: 600;
        font-size: 18px;

        @include mobile{
            margin-bottom: 0;
            margin-top: 1rem;
        }
    }

    table{
        tr{
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;

            td{
                vertical-align: top;
                padding: 0 10px;

                img{
                    margin-right: 5px;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.nopadding{
    padding: 0;
}

@media only screen and (min-width: 1600px) {
    .carousel-item, .carousel-item > img{
        height: 788px !important;
    }
}